<div [class]="'card ' + class">
  <!-- <div *ngIf="isSortable" class="card-header p-0 position-relative">
    <div class="position-absolute handle card-icon">
      <i class="simple-icon-shuffle"></i>
    </div>
  </div> -->
  <div class="card-body d-flex justify-content-between align-items-center" style="flex-direction: column;row-gap: 15px;">
    <div class="progress-bar-circle position-relative" style="width: 100px;height: 100px;">
      <div class="progressbar-text">{{ percent }}%</div>
      <round-progress [current]="percent" [max]="100" [responsive]="true" [duration]="800"
        [animation]="'easeInOutQuart'" [animationDelay]="0" [radius]="100" [rounded]="true" [stroke]="10">
      </round-progress>
    </div>
    <h5 class="card-title mb-0">{{title}}</h5>
  </div>
</div>
