<div class="row">
    <div class="col-12 mb-4">

        <div class="card auth-card">
            <div class="position-relative image-side d-flex align-items-center">
                <div class="card-body justify-content-end d-flex flex-column">
                    <p class="text-white h1">CruTransfer</p>
                    <p class="text-white h2">The simplest way to share your files</p>
                </div>
            </div>
            <div class="form-side download-info-side">
                <ng-container *ngIf="!loading; else loader">

                    <div class="row">
                        <!-- <a routerLink="/">
                        <span class="logo-single"></span>
                    </a> -->
                        <div class="col-12" *ngIf="order; else nodata">

                            <h3 *ngIf="order.sender" class="sender"><strong>{{order.sender}}</strong> sent you some
                                files
                            </h3>
                            <p class="infos">
                                Ready to get your files ?
                            </p>

                            <p class="message">
                                1 item, {{order.fileInfos.humanSize}} in total - Expires on
                                {{order.expiredDate.toLocaleDateString()}}
                            </p>

                            <h3>Message</h3>

                            <div class="link-wrapper" *ngIf="order.message">
                                <div class="link">{{order.message}}</div>
                            </div>

                        </div>
                    </div>

                    <div class="row" *ngIf="order">
                        <div class="col-12">
                            <button class="btn btn-primary btn-lg btn-shadow" (click)="download()">
                                Download files</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

    </div>
</div>

<ng-template #nodata>
    <div class="col-12">
        <h6 class="mb-4">Ooops... looks like an error occurred!</h6>
        <p class="mb-0 text-muted text-small mb-0">

        </p>
        <p class="display-1 font-weight-bold mb-5">404</p>
        <a [routerLink]="'/home'" class="btn btn-primary btn-lg btn-shadow" type="submit">
            GO BACK HOME
        </a>
    </div>
</ng-template>

<ng-template #loader>
    <div class="col-12">
        <div class="lb-loader">
            <div class="lb-cancel" style="height: 30px;width: 30px;"></div>
        </div>
    </div>
</ng-template>