<!-- HOME

<div class="container">

  <form [formGroup]="form">

    <input #inputFile type="file" (change)="onFileSelected($event)" #fileInput>


    <div class="form-group">
      <label>Your email</label>
      <input class="form-control" formControlName="sender" type="text">
    </div>

    <div class="form-group">
      <label>Message</label>
      <input class="form-control" formControlName="message" type="text">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input class="form-control" formControlName="password" type="text">
    </div>


    <div class="alerts" *ngIf="(form.touched && form.invalid)">

      <div *ngIf="form.controls.password.hasError('required')" class="alert alert-warning" role="alert">
        Le mot de passe ne peut &ecirc;tre vide.
      </div>

      <div *ngIf="form.hasError('SamePasswordValidation')" class="alert alert-warning" role="alert">
        Les mots de passes doivent correspondrent.
      </div>

    </div>

    <button [disabled]="form.invalid" type="submit" (click)="transfer()">Transfer</button>


  </form>


  <a [routerLink]="['/download', orderId]">Go to file {{orderId}}</a>

  <a [routerLink]="['/dashboard']">Go to dashboard</a>

</div> -->

<div class="row">
  <div class="col-12 mb-4">

    <div class="card auth-card">
      <div class="position-relative image-side d-flex align-items-center">
        <div class="card-body justify-content-end d-flex flex-column">
          <p class="text-white h1">CruTransfer</p>
          <p class="text-white h2">The simplest way to share your files</p>
        </div>
      </div>
      <div class="form-side">
        <!-- <a class="c-pointer">
          <span class="logo-single"></span>
        </a> -->
        <form [formGroup]="form" novalidate>

          <label class="form-group has-float-label">
            <span>Your files(*)</span>
            <dropzone [config]="config" (success)="onFileSelected($event)"
              message="Click or drag images here to upload">
            </dropzone>
          </label>

          <ng-container *ngIf="form.controls.action.value == 1">
            <label class="form-group has-float-label">
              <input class="form-control" formControlName="sender" />
              <span>Your email(*)</span>
              <small *ngIf="submitted && form.controls.sender.invalid" class="invalid">Email is required!</small>
            </label>

            <label class="form-group has-float-label">
              <input class="form-control" formControlName="recipient" />
              <span>Email to(*)</span>
              <small *ngIf="submitted && form.controls.recipient.invalid" class="invalid">Email is required!</small>
            </label>
          </ng-container>

          <label class="form-group has-float-label">
            <textarea rows="2" class="form-control" formControlName="message"></textarea>
            <span>Message</span>
          </label>

          <!-- <label class="form-group has-float-label">
          <input class="form-control" type="password" placeholder="" />
          <span>{{ 'user.password' | translate }}</span>
        </label> -->

          <label class="form-group">
            <div class="custom-control custom-radio"><input type="radio" [value]="sendActionsEnums.SendEmail"
                name="action" formControlName="action" id="reactiveRadios1" class="custom-control-input " checked><label
                for="reactiveRadios1" class="custom-control-label"> Send email transfer </label>
            </div>
            <div class="custom-control custom-radio"><input type="radio" [value]="sendActionsEnums.CopyLink"
                name="action" formControlName="action" id="reactiveRadios2" class="custom-control-input "><label
                for="reactiveRadios2" class="custom-control-label"> Get transfer link </label>
            </div>
          </label>



          <div class="d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-outline-primary mr-2" (click)="reset()">Reset</button>
            <button type="submit" class="btn btn-primary btn-lg btn-shadow" [disabled]="!form.valid" 
            (click)="openModal()">
              Transfer</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>

<!-- <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sending your files</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <app-radial-process-card [title]="progressMessage" [percent]="progress" [isSortable]="true">
        </app-radial-process-card>
      </div>
    </div>

    <h3 style="color:#303030; font-size:18px; line-height: 1.6; font-weight:500;">You're done!</h3>
    <p style="color:#8f8f8f; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
      The download email has been sent – your transfer is now available.
    </p>
    <h3 style="color:#303030; font-size:18px; line-height: 1.6; font-weight:500;">Verification Code</h3>
    <p
      style="background-color:#f1f1f1; padding: 8px 15px; border-radius: 50px; display: inline-block; margin-bottom:20px; font-size: 14px;  line-height: 1.4; font-family: Courier New, Courier, monospace; margin-top:0">
      148 544 174</p>

    <a href="#" title="START NOW" target="_blank"
      style="font-size: 14px; line-height: 1.5; font-weight: 700; letter-spacing: 1px; padding: 15px 40px; text-align:center; text-decoration:none; color:#FFFFFF; border-radius: 50px; background-color:#00365a;">START
      NOW</a>
  </div>
</ng-template> -->