.home-modal-progress-upload-file {
  .modal-content {
    background-color: #145388;

    h3 {
      color: #303030;
      font-size: 18px;
      line-height: 1.6;
      font-weight: 500;
    }
  }
}
