<footer class="page-footer">
  <div class="footer-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6">
          <p class="mb-0 text-muted">© 2021 <strong>CruTransfer</strong>. All Rights Reserved.</p>
        </div>
        <div class="col-12 col-sm-6 d-sm-block">
          <ul class="breadcrumb pt-0 pr-0 float-right">
            <li class="breadcrumb-item mb-0">
              <a href="https://t.me/joinchat/PadA5njA0HowZjA0" target="_blank" class="btn-link"
                title="Join our telegram">
                <i class="simple-icon-paper-plane"></i>
              </a>
            </li>
            <li class="breadcrumb-item mb-0">
              <a href="https://twitter.com/crutransfer" target="_blank" class="btn-link" title="Follow our Twitter">
                <i class="iconsminds-twitter"></i>
              </a>
            </li>
            <li class="breadcrumb-item mb-0">
              <a href="https://crutransferme.medium.com" target="_blank" class="btn-link">Our stories on Medium</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>