<div class="card auth-card">
  <div class="position-relative image-side ">
    <div class="card-body justify-content-end d-flex flex-column">
      <p class="text-white h1">CruTransfer</p>
      <p class="text-white h2">The simplest way to share your files</p>
      <p class="white mb-0">
        Please use your infos to register.
        <br>If you are already member, please
        <a [routerLink]="['/login']" class="white white-underline-link">login</a>.
      </p>
    </div>
  </div>
  <div class="form-side">
    <!-- <a class="c-pointer">
      <span class="logo-single"></span>
    </a> -->
    <h2 class="mb-4" *ngIf="!success">Register</h2>

    <form [formGroup]="form" novalidate *ngIf="!success; else successTmp">

      <label class="form-group has-float-label">
        <input class="form-control" formControlName="username" />
        <span>{{ 'user.username' | translate }}</span>
        <div *ngIf="submitted && form.controls.username.invalid" class="invalid-tooltip">Username is required!</div>
      </label>

      <label class="form-group has-float-label">
        <input class="form-control" formControlName="email" />
        <span>{{ 'user.email' | translate }}</span>
        <div *ngIf="submitted && form.controls.email.invalid" class="invalid-tooltip">{{'main.email-required' |
          translate}}!</div>
      </label>

      <label class="form-group has-float-label">
        <input class="form-control" type="password" formControlName="password" />
        <span>{{ 'user.password' | translate }}</span>
        <div *ngIf="submitted && form.controls.password.invalid" class="invalid-tooltip">{{'main.password-required' |
          translate}}!</div>
      </label>

      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/forgot-password">{{ 'user.forgot-password' | translate }}?</a>
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" (click)="onSubmit()">
          {{ 'user.register-button' | translate | uppercase }}
        </app-state-button>
      </div>
    </form>

  </div>
</div>

<ng-template #successTmp>
  <h6 class="mb-4">Check your inbox.</h6>
  <p>Click the link we sent to&nbsp;<span class="font-weight-bold">{{form.controls.email.value}}</span>&nbsp;to complete your account set-up.</p>
</ng-template>

<simple-notifications></simple-notifications>