<h5 class="mb-2">Select file to upload</h5>
<dropzone #dropzone (addedFiles)="onFileSelected($event)" (removedFile)="onRemovedfile($event)"
  (error)="onFileError($event)" message="{{'main.click-drag-to-upload' | translate}}">
</dropzone>

<div *ngIf="fileErrorMessage" class="invalid-tooltip">{{fileErrorMessage}}</div>

<button type="submit" class="btn btn-primary btn-lg btn-shadow mt-3" [disabled]="!(fileToUpload && account)"
  (click)="openModal()">
  {{'main.transfer' | translate}}</button>

<hr>

<div class="col-12 list mt-3">
  <cru-card-drive *ngFor="let item of drives" [drive]="item"></cru-card-drive>
</div>

<div class="col-12">
  <pagination [totalItems]="totalDocs" [itemsPerPage]="limit" [maxSize]="5"
    [(ngModel)]="page" (pageChanged)="pageChanged($event)" class="justify-content-center"
    [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
  </pagination>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
</ng-template>