<div class="row">

  <div class="col-12">
    <h1>Transfers</h1>
    <div class="display-options-container">
      <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">
        <div class="d-block d-md-inline-block">
          <div class="float-md-left mr-1 mb-1" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark btn-xs dropdown-toggle"
              aria-controls="dropdown-basic">
              Order By : {{itemOrder}} <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let item of itemOptionsOrders"><a
                  [ngClass]="item === itemOrder ? 'dropdown-item active' : 'dropdown-item'"
                  (click)="orderBy(item)">{{item}}</a></li>
            </ul>
          </div>
        </div>
        <div class="d-inline-block">
          <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top" style="min-width: 200px;">
            <input #inputSearch class="form-control" placeholder="Search by filename or emails">
          </div>
        </div>
      </div>
      <div class="separator mb-4"></div>
    </div>
  </div>

  <div class="col-12 list">
    <cru-card-order [order]="item" (select)="goToDetail($event)" *ngFor="let item of filteredData;" ></cru-card-order>
  </div>
  <div class="col-12">
  </div>
</div>