<div class="modal-header">
  <h4 class="modal-title pull-left">{{'main.your-transfer-details' | translate}} </h4>
  <button [disabled]="!isFinalized" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <ng-container *ngIf="isFinalized; else progressbar">

    <div class="row">
      <div class="col-12">
        <app-radial-process-card title="1 file {{savedData?.fileInfos.humanSize}}" [percent]="100">
        </app-radial-process-card>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h1>{{'main.you-are-done' | translate}}</h1>
        <p class="infos" *ngIf="data.action == SendActionsEnum.SendEmail">
          {{'main.download-email-sent' | translate}}
        </p>

        <p class="infos" *ngIf="data.action == SendActionsEnum.CopyLink">
          {{'main.copy-download-link-or' | translate}} <a href="{{link}}">{{'main.see-what-inside' | translate}}</a>.
        </p>

        <h3>{{'main.download-link' | translate}}</h3>

        <div class="link-wrapper   position-relative">

          <div class="link">
            <span [class.copied]="isCopied">{{link}}</span>
          </div>
          <button class="btn btn-outline-primary  " (click)="copyLink()">
            <span>{{!isCopied ? 'Copy' : 'Copied'}}</span>
          </button>
        </div>
        <small [style.visibility]="isCopied ? 'visible' : 'hidden'">{{'main.link-copied-clipboard' | translate}}</small>


      </div>
    </div>

    <div class="row action">
      <div class="col-12">
        <button class="btn btn-primary btn-lg btn-shadow" (click)="transferAnother()">
          {{'main.transfer-another' | translate}}</button>
      </div>
    </div>
  </ng-container>

  <ng-template #progressbar>
   <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="lb-loader">
              <div class="lb-cancel"></div>
            </div>
            <h5 class="card-title mb-0 mt-4 text-center">{{'main.transferring' | translate}}</h5>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


</div>