<html>

<head>
	<link rel="stylesheet" href="templateEmail.css">
</head>

<body>

	<div class="row">
		<div class="col-12">
			<div leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
				style="height:auto !important;width:100% !important; font-family: Helvetica,Arial,sans-serif !important; margin-bottom: 40px;">
				<div class="justify-content-center d-flex">
					<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
						style="max-width:600px; background-color:#ffffff;border:1px solid #e4e2e2;border-collapse:separate !important; border-radius:10px;border-spacing:0;color:#242128; margin:0;padding:40px;"
						heigth="auto">
						<tbody>
							<tr>
								<td align="left" valign="center"
									style="padding-bottom:40px;border-top:0;height:100% !important;width:100% !important;">
									<img width="120px" height="48px" src="https://ipfs.io/ipfs/QmZzHueEPKnaC24yDdkenDHge3n9J5mfgSQFpJ9pXQaVhj" />
								</td>
								<td align="right" valign="center"
									style="padding-bottom:40px;border-top:0;height:100% !important;width:100% !important;">
									<span
										style="color: #8f8f8f; font-weight: normal; line-height: 2; font-size: 14px;"></span>
								</td>
							</tr>
							<tr>
								<td colSpan="2" style="padding-top:10px;border-top:1px solid #e4e2e2">

									<p style="color:#8f8f8f; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
										Thanks for signing up with CruTransfer! You must follow this link to activate
										your account:<br />
									</p>
									<p
										style="background-color:#f1f1f1; padding: 8px 15px; border-radius: 50px; display: inline-block; margin-bottom:20px; font-size: 18px;  line-height: 1.4; font-family: Courier New, Courier, monospace; margin-top:0">
										{{link}}</p>
								</td>
							</tr>
							<tr>
								<td colSpan="2">
									<table border="0" cellpadding="0" cellspacing="0" width="100%"
										style="min-width:100%;border-collapse:collapse;">
										<tbody>
											<tr>
												<td style="padding:15px 0px;" valign="top" align="center">
													<table border="0" cellpadding="0" cellspacing="0"
														style="border-collapse:separate !important;">
														<tbody>
															<tr>
																<td align="center" valign="middle"
																	style="padding:13px 0;">
																	<a href="{{link}}" title="START NOW" target="_blank"
																		style="font-size: 12px; line-height: 1.5; font-weight: 700; letter-spacing: 1px; padding: 15px 40px; text-align:center; text-decoration:none; color:#FFFFFF; border-radius: 50px; background-color:#00365a;">ACTIVATE
																		NOW</a>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="justify-content-center d-flex">
					<table style="margin-top:30px; padding-bottom:20px;; margin-bottom: 40px;">
						<tbody>
							<tr>
								<td align="center" valign="center">
									<p
										style="font-size: 12px; text-decoration: none;line-height: 1; color:#909090; margin-top:0px; margin-bottom:5px; ">
										CruTransfer - The simplest way to share your files
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</body>

</html>