<div class="card d-flex flex-row mb-3">
  <a class="d-flex align-items-center">
    <img style="height: 100px;" class="list-thumbnail responsive border-0 card-img-left"
      src="/assets/img/crust-network-500.png" alt="Bebinca">
  </a>
  <div class="pl-2 d-flex flex-grow-1 min-width-zero">
    <div
      class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
      <a class="w-40 w-sm-100">
        <p class="list-item-heading mb-0 truncate font-weight-bold">{{account.meta.name}}</p>
      </a>
      <p class="mb-0 text-muted text-small w-sm-100 mr-1">{{account.address}}</p>
      <!-- <p class="mb-0 text-muted text-small w-15 w-sm-100">13.05.2021</p> -->
      <div class="w-15 w-sm-100"><span class="badge-crust badge badge-pill">{{account.meta.source}}</span></div>
    </div><label class="custom-control custom-checkbox mb-1 align-self-center pr-4"><input type="checkbox"
        class="custom-control-input" id="customCheck0"><label class="custom-control-label"
        for="customCheck0"></label></label>
  </div>
</div>