<div class="modal-header">
  <h4 class="modal-title pull-left">Verify your email</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <p>Just one check to make sure the sender is really you. We’ve sent a verification code to <strong>{{data.sender}}</strong>. Please use the verification code to continue your transfer.</p>

  <label class="form-group has-float-label">
    <input class="form-control" [(ngModel)]="code" />
    <span>Code</span>
    <div *ngIf="messageError" class="invalid-tooltip">{{messageError}}</div>

  </label>


  <div class="d-flex justify-content-end align-items-center">
    <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
      [isDisabled]="buttonDisabled" (click)="onSubmit()">
      {{ 'main.verify' | translate | uppercase }}
    </app-state-button>
  </div>


</div>