<a class="c-pointer" (click)="back()"><i class="simple-icon-arrow-left"></i> Back to list</a>

<div class="row mt-4">

  <div class="col-12">
    <h1>{{order?.fileInfos.name}}</h1>
    <h5>1 {{'main.file' | translate}} - {{order?.fileInfos.humanSize}} - Sent {{order?.createdDate | date:'short'}} -
      <span class="badge badge-pill" [ngClass]="
        {
          'badge-primary': order?.status == OrderStatusEnum.Info,
          'badge-warning': order?.status == OrderStatusEnum.Warning,
          'badge-danger': order?.status == OrderStatusEnum.Danger,
          'badge-light': order?.status == OrderStatusEnum.Expired
        }">{{order?.timeRemainStr}}</span>
    </h5>
  </div>

</div>

<div class="separator mb-4"></div>


<div class="row">
  <div class="col-12">

    <div class="row icon-cards-row mb-2">
      <div class="col-md-3 col-lg-2 col-sm-4 col-6 mb-4">
        <a routerLink="./" class="card">
          <div class="card-body text-center">
            <i class="simple-icon-cloud-download"></i>
            <p class="card-text font-weight-semibold mb-0">{{'main.total-downloads' | translate}}</p>
            <p class="lead text-center">{{order?.totalDownloads}}</p>
          </div>
        </a>
      </div>

      <div class="col-md-3 col-lg-2 col-sm-4 col-6 mb-4">
        <a routerLink="./" class="card">
          <div class="card-body text-center">
            <i class="iconsminds-letter-sent"></i>
            <p class="card-text font-weight-semibold mb-0">{{'main.recipient' | translate}}</p>
            <p class="lead text-center">{{order?.recipients.length}}</p>
          </div>
        </a>
      </div>

      <div class="col-md-3 col-lg-2 col-sm-4 col-6 mb-4">
        <a routerLink="./" class="card">
          <div class="card-body text-center">
            <i class="iconsminds-arrow-refresh"></i>
            <p class="card-text font-weight-semibold mb-0">{{'main.size' | translate}}</p>
            <p class="lead text-center">{{order?.fileInfos.humanSize}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="order?.status !== OrderStatusEnum.Expired">
  <div class="col-12 ml-2">

    <p class="font-weight-bold">{{'main.message' | translate}}</p>
    <p>{{order?.message}}</p>
    <br>

    <p class="font-weight-bold">{{'main.recipient' | translate}}</p>
    <ul>
      <li *ngFor="let rep of order?.recipients">{{rep}}</li>

    </ul>
    <br>
    <p class="font-weight-bold">{{'main.download-link' | translate}}</p>


  </div>

  <div class="col-12 ml-2">
    <div class="link mr-1 mb-4">{{order?.link}}</div>
    <button (click)="copyLink()" type="button" class="btn btn-dark c-pointer mr-1 mb-1">
      <i class="iconsminds-file-copy"></i> {{'main.copy' | translate}}
    </button>
  </div>
</div>

<div class="separator mb-4"></div>


<div class="row mb-4">
  <div class="col-12 ml-2">

    <ng-container *ngIf="order?.status !== OrderStatusEnum.Expired">
      <button (click)="download()" type="button" class="btn btn-primary c-pointer mr-1 mb-1">
        <i class="simple-icon-cloud-download"></i> {{'main.download' | translate}}
      </button>

      <button (click)="preview()" type="button" class="btn btn-secondary c-pointer  mr-1 mb-1">
        <i class="iconsminds-preview"></i> {{'main.preview' | translate}}
      </button>
    </ng-container>

    <!-- <button (click)="forward()" type="button" class="btn btn-info c-pointer  mr-1 mb-1">
      <i class="iconsminds-mail-forward"></i> Forward
    </button> -->

    <button (click)="delete()" type="button" class="btn btn-danger c-pointer  mr-1 mb-1">
      <i class="simple-icon-trash"></i> {{'main.delete' | translate}}
    </button>

  </div>
</div>