:host {
  .card {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 5px solid;
    &:hover {
      box-shadow: 0 3px 30px rgb(0 0 0 / 10%), 0 3px 20px rgb(0 0 0 / 10%);
    }

    &.card-primary {
      border-left-color: #145388;
    }
    &.card-warning {
      border-left-color: #b69329;
    }
    &.card-danger {
      border-left-color: #c43d4b;
    }

    .card-body {
      row-gap: 5px;
    }
  }
}
