<div class="card auth-card">
  <div class="position-relative image-side ">
    <div class="card-body justify-content-end d-flex flex-column">
      <p class="text-white h1">CruTransfer</p>
      <p class="text-white h2">The simplest way to share your files</p>
      <p class="white mb-0">
        Please use your e-mail to reset your password.
        <br>If you are not a member, please
        <a [routerLink]="['/register']" class="white white-underline-link">register</a>.
      </p>
    </div>
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <span class="logo-single"></span>
    </a>
    <h6 class="mb-4">Forgot Password</h6>

    <form [formGroup]="form" novalidate>
      <label class="form-group has-float-label">
        <input class="form-control" formControlName="email" />
        <span>{{ 'user.email' | translate }}</span>
        <div *ngIf="submitted && form.controls.email.invalid" class="invalid-tooltip">
          Email is required or must be a valid address!</div>
      </label>

      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/login">{{ 'user.login-button' | translate }}</a>
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" (click)="onSubmit()">
          {{ 'user.reset-password-button' | translate | uppercase }}
        </app-state-button>
      </div>
    </form>

  </div>
</div>